^{:watch-dirs       ["test" "src" "dev"]
  :css-dirs         ["resources/public/css"]
  :extra-main-files {:cards {:main walk-tree-cards.core}}
  :auto-testing     true}

{:main     walk-tree.fast
 :npm-deps false
 :devcards true
 :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
 :preloads [day8.re-frame-10x.preload]}
